.App {
  text-align: center;
}

h2 {
  width: 500px;
  height: 50px;
  background-color: cadetblue;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 10px;
  border: 1px solid black;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

input,
textarea,
select,
button {
  width: 500px;
  height: 50px;
}

input[type='checkbox'] {
  width: 1em;
  height: 1em;
}

.checkbox-container {
  display: flex;
}
.no-controlled-form {
  width: 50%;
  margin: 0 auto;
  background-color: blueviolet;
  border-radius: 10px;
}
.controlled-form {
  width: 50%;
  margin: 0 auto;
  background-color: greenyellow;
  border-radius: 10px;
}
.btn-change-form {
  margin-top: 20px;
  background-color: black;
  color: white;
  font-size: 1.5em;
  border-radius: 10px;
}

.alert-danger {
  width: 60%;
  height: 30%;
  background-color: red;
  color: white;
}
